@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ecf0f3;
}

.profileCard {
  position: relative;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #e9ecee;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}

.image {
  position: relative;
  height: 150px;
  width: 150px;
  padding: 3px;
}
.profileImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  object-fit: cover;
}

.profileCard .name {
  font-size: 23px;
  font-weight: 500;
  color: #31344b;
  margin-top: 5px;
}
.profileCard .about {
  color: #44476a;
  font-weight: 500;
  font-size: 16px;
}
.description {
  margin-top: 10px;
  text-align: center;
  color: #44476a;
}

.contact {
  text-align: center;
  color: #44476a;
  font-weight: 450;
  font-size: 16px;
  margin-top: 10px;
}

.email {
  text-align: center;
  color: #44476a;
  font-size: 16px;
}

.phone {
  text-align: center;
  color: #44476a;
  font-size: 16px;
}
